amqp==1.4.9
anyjson==0.3.3
attrs==17.3.0
billiard==3.3.0.23
cachetools==2.0.1
celery==3.1.25
certifi==2017.11.5
chardet==3.0.4
Django==1.11.28
django-appconf==1.0.2
django-celery==3.2.2
django-channels==0.7.0
django-cors-headers==2.1.0
django-filter==1.1.0
django-imagekit==4.0.2
djangorestframework==3.7.3
djangorestframework-jwt==1.11.0
google-api-core==0.1.2
google-auth==1.2.1
google-cloud-core==0.28.0
google-cloud-storage==1.6.0
google-cloud-vision==0.29.0
google-resumable-media==0.3.1
googleapis-common-protos==1.5.3
grpcio==1.8.1
idna==2.6
kombu==3.0.37
Markdown==2.6.10
oauthlib==2.0.6
olefile==0.44
pilkit==2.0
Pillow==4.3.0
pluggy==0.6.0
protobuf==3.5.0.post1
psycopg2==2.7.3.2
py==1.5.2
pyasn1==0.4.2
pyasn1-modules==0.2.1
PyJWT==1.5.3
pytest==3.3.1
pytest-django==3.1.2
pytz==2017.3
requests==2.18.4
requests-oauthlib==0.8.0
rsa==3.4.2
six==1.11.0
urllib3==1.22
vine==1.1.4
channels==1.1.8
asgi_redis==1.4.3