.uploader {
  background-color: #f9f9f9;
  background-position: center center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: fixed;

  .info-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);

    button {
      width: 100%;
    }
  }

  .info-box.result {
    background: rgba(255, 0, 0, 0.5);
    color: #fff;
  }
  .info-box.hot {
    background: rgba(89, 148, 89, 0.5);
    color: #fff;
  }

}

.logo {
  width: 100%;
  font-size: 60px;
  text-align: center;
  margin-bottom: 25px;

  .icon {
    font-size: 180px;
    width: 200px;
    margin: 50px 0 25px 0;
    color: #990935;
  }
}
