<div class="box">
  <form class="card" (submit)="authUser($event)">
    <mat-card>
      <mat-card-title>Sign in</mat-card-title>
      <mat-card-content>
        <mat-form-field style="width:100%">
          <input matInput type="text" [(ngModel)]="_apiService.user.username" [ngModelOptions]="{standalone: true}"
                 required placeholder="Username">
        </mat-form-field>
      </mat-card-content>
      <mat-card-content>
        <mat-form-field style="width:100%">
          <input matInput type="text" [(ngModel)]="_apiService.user.password" [ngModelOptions]="{standalone: true}"
                 type="password" required placeholder="Password" minlength="6">
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button style="width: 100%" color="primary" (click)="authUser($event)">Sign in</button>
      </mat-card-actions>
      <mat-card-footer class="footer">
        Don't have an account? <a routerLink="/register" routerLinkActive="active">Sign up</a>
      </mat-card-footer>
    </mat-card>
    <input type="submit" style="display: none;">
  </form>
</div>
